# Pico build fájlok
build/
*.uf2
*.elf
*.bin
*.dis
*.hex

# ioLibrary_Driver build fájlok
firmware/w5100s-evb-pico/ioLibrary_Driver/build/
firmware/w5100s-evb-pico/ioLibrary_Driver/

python-lib/__pycache__/
utility/__pycache__/
utility/benchmark_udp

*.pyc  # Összes .pyc fájl ignorálása
*.pyo  # Optimalizált Python fájlok
*.pyd  # C-ből fordított Python modulok
.pytest_cache/  # Pytest cache könyvtár
*.egg-info/  # Python csomagok metaadatai
venv/  # Virtuális környezet mappa (vagy más nevű, pl. env/)

firmware/w5100s-evb-pico/src/teszt.py

# KiCad fájlok
*.kicad_sch
*.kicad_pcb
*.kicad_pro
*.sch-bak
*.kicad_prl
*.kicad_mod

# Egyéb
.vscode/
*.swp
*.swo
